{% extends 'base.html' %}

{% block body %}

<div class="button-group">
    <a href="#" class="btn btn-primary btn-md" role="button">PRODUCT</a>
    <a href="#" class="btn btn-danger btn-md" role="button">+</a>

    <a href="#" class="btn btn-primary btn-md" role="button">INCOMING PURCHASE</a>
    <a href="#" class="btn btn-danger btn-md" role="button">+</a>

    <a href="#" class="btn btn-primary btn-md" role="button">OUTGOING ORDER</a>
    <a href="#" class="btn btn-danger btn-md" role="button">+</a>
</div>

<table class="table table-hover">
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>LABEL</th>
        <th>STARTING INVENTORY</th>
        <th>RECEIVED INVENTORY</th>
        <th>SHIPPED INVENTORY</th>
        <th>INVENTORY ON HAND</th>
        <th>MINIMUM REQUIRED</th>
    </thead>
    <tobody>


    </tobody>

</table>

{% endblock %}