{% extends 'base.html' %}



{% load staticfiles %}
{% block body %}
<br>


<br>
<h2 class="text-center">Products</h2>
<div class="container" id="productDiv" style=" margin-top:35px">

    <table class="table table-bordered table-striped " id="productTable">

        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>PART NUMBER</th>
            <th>LABEL</th>
            <th>STARTING INVENTORY</th>
            <th>RECEIVED INVENTORY</th>
            <th>SHIPPED INVENTORY</th>
            <th>INVENTORY ON HAND</th>
            <th>MINIMUM REQUIRED</th>
        </thead>
        <tbody>
            {% for item in product_items %}

            <tr>
                <td> {{ item.productid }}</td>
                <td> {{ item.productname }}</td>
                <td> {{item.partnumber }}</td>
                <td>{{ item.productlabel }} </td>
                <td> {{ item.startinginventory }}</td>
                <td> {{ item.inventoryreceived }}</td>
                <td> {{ item.inventoryshipped }}</td>
                <td>{{ item.inventoryonhand }} </td>
                <td>{{ item.minimumrequired }} </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>
    <div class="pagination-continer">
        <nav>
            <ul class="pagination">

            </ul>
        </nav>
    </div>
</div>



<br>
<h2 class="text-center">Incoming Purchase</h2>
<table class="table table-hover" id="purchaseTable">
    
    <thead>
        <th>ID</th>
        <th>SUPPLIER ID</th>
        <th>PRODUCT ID</th>
        <th>NUMBER RECEIVED</th>
        <th>PURCHASE DATE</th>
    </thead>
    <tbody>
        {% for item in purchase_items %}

        <tr>
            <td> {{ item.purchaseid }}</td>
            <td> {{ item.supplierid_id }}</td>
            <td> {{item.productid_id }}</td>
            <td>{{ item.numberreceived }} </td>
            <td> {{ item.purchasedate }}</td>
        </tr>

        {% endfor %}

    </tbody>

</table>

<br>
<h2 class="text-center">Outgoing Orders</h2>
<table class="table table-hover" id="orderTable">
 
    <thead>
        <th>ID</th>
        <th>TITLE</th>
        <th>FIRST NAME</th>
        <th>MIDDLE NAME</th>
        <th>LAST NAME</th>
        <th>PRODUCT ID</th>
        <th>NUMBER SHIPPED</th>
        <th>ORDER DATE</th>
    </thead>
    <tbody>
        {% for item in order_items %}

        <tr>
            <td>{{  item.orderid }}</td>
            <td> {{ item.title }}</td>
            <td> {{ item.first }}</td>
            <td> {{item.middle }}</td>
            <td>{{ item.last }} </td>
            <td>{{ item.productid_id }}</td>
            <td> {{ item.numbershipped }}</td>
            <td> {{ item.orderdate }}</td>
        </tr>

        {% endfor %}

    </tbody>

</table>




{% endblock %}