{% extends 'base.html' %}

{% block body %}

<br>
<h2 class="text-center">Outgoing Orders</h2>
<table class="table table-hover" id="orderTable">

    <thead>
        <th>ID</th>
        <th>TITLE</th>
        <th>FIRST NAME</th>
        <th>MIDDLE NAME</th>
        <th>LAST NAME</th>
        <th>PRODUCT ID</th>
        <th>NUMBER SHIPPED</th>
        <th>ORDER DATE</th>
    </thead>
    <tbody>
        {% for item in order_items %}

        <tr>
            <td>{{  item.orderid }}</td>
            <td> {{ item.title }}</td>
            <td> {{ item.first }}</td>
            <td> {{item.middle }}</td>
            <td>{{ item.last }} </td>
            <td>{{ item.productid_id }}</td>
            <td> {{ item.numbershipped }}</td>
            <td> {{ item.orderdate }}</td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}