{% extends 'base.html' %}

{% block body %}
<br>
<h2 class="text-center">Products</h2>
<div class="container" id="productDiv" style=" margin-top:35px">

    <table class="table table-bordered table-striped " id="productTable">

        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>PART NUMBER</th>
            <th>LABEL</th>
            <th>STARTING INVENTORY</th>
            <th>RECEIVED INVENTORY</th>
            <th>SHIPPED INVENTORY</th>
            <th>INVENTORY ON HAND</th>
            <th>MINIMUM REQUIRED</th>
        </thead>
        <tbody>
            {% for item in product_items %}

            <tr>
                <td> {{ item.productid }}</td>
                <td> {{ item.productname }}</td>
                <td> {{item.partnumber }}</td>
                <td>{{ item.productlabel }} </td>
                <td> {{ item.startinginventory }}</td>
                <td> {{ item.inventoryreceived }}</td>
                <td> {{ item.inventoryshipped }}</td>
                 {%if item.inventoryonhand  <  item.minimumrequired %}
                 <td bgcolor="#FF0000">{{ item.inventoryonhand }} </td>
                 {% else %}
                 <td>{{ item.inventoryonhand }} </td>
                 {% endif %}
                <td>{{ item.minimumrequired }} </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>
    <div class="pagination-continer">
        <nav>
            <ul class="pagination">

            </ul>
        </nav>
    </div>
</div>

<br>

{% endblock %}