{%  extends 'base.html' %}

{% block body %}
<div id="container">
 
    

</div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
    var labels = {{ productlabel_json|safe }};
    var inventoryonhand = {{ invengoryonhand_json | safe}}
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Current Inventory'
        },
        xAxis: {
            
            // categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania', 'America', 'America', 'America', 'America',
            // 'America']
            
            categories: labels

        },
        series: [{
            name: 'Inventory on hand',
            data: inventoryonhand
        }, ]
    });
</script>

<script src="https://code.highcharts.com/highcharts.src.js"></script>




{% endblock %}